<header
  class="absolute z-50 flex items-center w-full h-fit px-10 py-5 space-x-5 text-slate-100 text-sm font-medium"
>
  <div class="">
    <ng-icon name="ionImage" class="translate-y-[10%]" size="30px"></ng-icon>
  </div>

  <div class="flex space-x-2 uppercase flex-1">
    <a href="#">Events</a>
    <a href="#">About Us</a>
  </div>

  <div class="flex space-x-2">
    <button class="py-1 px-4 bg-white text-black rounded-lg">SIGNUP</button>
    <button class="py-1 px-4 bg-black text-white rounded-lg">LOGIN</button>
  </div>
</header>
